extends common/layout

block main-content
  // Main content container
  div.container.my-3
    // Link to go back to the home page
    a.btn.btn-light.btn-sm.my-3(href='/') Back

    // Check if the playlist object exists
    if playlist
      .m-auto
        h4 Here's "#{playlist.name}" by #{playlist.owner.display_name}.
        if playlist.description
          p - !{playlist.description}
        p.py-2 Enjoy your tunes!

      .text-center 
        // Embed the playlist in an iframe
        iframe.spotify-frame(
          src=`https://open.spotify.com/embed/playlist/${playlist.id}`
          frameborder="0"
          allowtransparency="true"
          allow="encrypted-media"
        )
    else
      // Display a message if no playlist was found
      p No playlist found.
